[submodule "solarized.vim"]
	path = solarized.vim
	url = https://github.com/yukidallas/solarized.vim.git
[submodule "osx-terminal.app-colors-solarized"]
	path = osx-terminal.app-colors-solarized
	url = https://github.com/yukidallas/osx-terminal.app-colors-solarized.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/yukidallas/dircolors-solarized.git
